/* header related styles */
.header {
    background: rgba(229, 84, 115, 0.10);
    background-repeat: no-repeat;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-container {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
    align-items: center;
}

.banner-title {
    font-size: 70px;
    font-weight: 700;
    color: #272727;
    margin: 5px;
}

.banner-description {
    font-size: 15px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    padding: 10px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 43px;
    gap: 10px;
    font-size: 20px;
    font-weight: 600px;
    color: #FFF;
}

/* main section styles */
.section-title {
    color: #272727;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    align-items: center;

}

.section-info {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    display: flex;
    padding: 0;
}

/* service section styles */
.service-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    background: #FFF;
    text-align: center;
}

.box {
    display: flex;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    text-decoration: underline;
}

.img {
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.box-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 460px;
    height: 520px;
}

.box-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 460px;
    height: 520px;
}

.box-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 460px;
    height: 520px;
}

/*Sale-sing-up section */
.sale-deal-section {
    background: rgba(229, 84, 115, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}

.sale-deal {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 186px;
}

.sale-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.sele-info {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.sale-img {
    padding: 100px 0px;
}

.text-primary {
    color: #E55473;
}

/* instagram and flower part section */

.instagram-flower {
    padding: 120px 0px;
    background: #FFF;
}

.instagram-text {
    text-align: center;
    align-items: center;
}

.title-styles {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.paragraph-info {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.instagram-flower-images {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.latest-deals-container {
    padding: 100px 180px;
    margin-top: 100px;
}

.container-text {
    align-items: center;
    text-align: center;
}

.latest-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.paragraph-info {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.contact-from {
    display: flex;
    gap: 10px;
    width: 80px;
    align-items: center;
    justify-content: space-between;
}

.contact-from input {
    padding: 0px 120px;
    border-radius: 8px;
    background-color: #FFF;
    width: 700px;
    height: 50px;
}

.footer {
    background: #111010;
    padding: 120px 312px;
}

.shop-footer {
    color: #FFF;
    align-items: center;
}

.Flower {
    color: #E55473;
}

.shop-footer h2 {
    font-size: 48px;
    font-weight: 800;
    align-items: center;
    text-align: center;
}

.about {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* assignment desgin complete */